.catigoryownerselect-card {
  --bg: var(--color4);      
  --hover-bg: var(--color3); 
  --hover-text: var(--color1); 
  height: 200px;
  /* max-width: 23ch; */
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: black;
  cursor: pointer;
}

.catigoryownerselect-card > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.catigoryownerselect-card > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.catigoryownerselect-card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  font-size: 1rem;
  background: var(--hover-bg);
}

.catigoryownerselect-card:hover span {
  top: 0;
  font-size: 1.2em;
}

.catigoryownerselect-card:hover {
  background: var(--hover-bg);
}

.catigoryownerselect-card:hover > strong {
  opacity: 0;
}
